RELAYVIA_ENVIRONMENT=development
RELAYVIA_DATABASE_URL=mysql+pymysql://relayvia:relayvia@127.0.0.1:3306/relayvia
RELAYVIA_CORS_ORIGINS=http://localhost:5173
RELAYVIA_CREDENTIAL_ENCRYPTION_KEY=TnwmzeqQ-XffnsD3s2PF6VG4mBIeGltKpC_iuQCyg-M=
